@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

.appContainer {
  position: relative;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; /* Adjust padding as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

.navbarLogoLeft {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 1vh;
  transition: transform 0.3s ease-in-out;
}

.navbarLogoRight {
  width: 80px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  transition: transform 0.3s ease-in-out;
}

.navbarLogoLeft:hover,
.navbarLogoRight:hover {
  transform: scale(1.1); /* Grow by 10% on hover */
}

.navbarSpacer {
  flex: 1; /* Takes up available space between logos */
}

.bgContainer {
  width: 100%;
  height: 100%;
}

video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 77%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wlc {
  color: whitesmoke;
  font-size: 10em; /* Adjust the font size as needed */
  text-shadow: 2px 2px 4px black; /* Add black outline */
  font-family: "Comic San MS", cursive;
  transform: translate(-2%, 20%);
  cursor: default;
}

/* Buttons */

.button-container {
  /* display: flex; */
  gap: 10px; /* Adjust the gap between buttons as needed */
  position: fixed;
  bottom: 4vh; /* Adjust the percentage of the screen height */
}

.dashBoardButton {
  /* position: fixed; */
  /* bottom: 4vh; Adjust the percentage of the screen height */
  left: 50%; /* Center horizontally */
  background-color: #ffdb58; /* Mustard yellow fill */
  color: #000000; /* Black text color */
  border: 2px solid #000000; /* Dark black border */
  border-radius: 10px; /* Adjust the border-radius for roundness */
  /* Additional styles for padding, font size, etc. */
  padding: 10px;
  font-size: 22px;
  margin-inline: 10px; /* 10px padding between them */
  font-family: "Comic San MS", cursive;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.dashBoardButton:hover {
  transform: scale(1.1); /* Grow by 10% on hover */
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8); /* Shadow with helix of colors */
}

.connectWallet {
  background-color: #ffdb58; /* Mustard yellow fill */
  color: #000000; /* Black text color */
  margin-right: 10px;
  border: 2px solid #000000; /* Dark black border */
  border-radius: 10px; /* Adjust the border-radius for roundness */
  /* Additional styles for padding, font size, etc. */
  padding: 10px;
  font-size: 15px;
  font-family: "Comic San MS", cursive;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.connectWallet:hover {
  transform: scale(1.1); /* Grow by 10% on hover */
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8); /* Shadow with helix of colors */
}

.normalButton {
  position: fixed;
  bottom: 4vh; /* Adjust the percentage of the screen height */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  /* margin-top: 200px; Adjust the distance as needed */
  /* transform: translate(0%,400%); /*This moves it along the x and y axis, 1200 means that we move it down by 1200% or 12 times its height*/
  background-color: #ffdb58; /* Mustard yellow fill */
  color: #000000; /* Black text color */
  border: 2px solid #000000; /* Dark black border */
  border-radius: 10px; /* Adjust the border-radius for roundness */
  /* Additional styles for padding, font size, etc. */
  padding: 10px;
  font-size: 22px;
  font-family: "Comic San MS", cursive;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.normalButton:hover {
  transform: translateX(-50%) scale(1.1); /* Grow by 10% on hover */
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8); /* Shadow with helix of colors */
}

.disconnectWallet {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

.disconnectPopup {
  position: absolute;
  top: 90%; /* Set it to appear below the connected button */
  right: 10px; /* Adjust as needed */
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 170px;
}

.disconnectPopup button {
  width: 100%;
  background-color: #ffdb58; /* Mustard yellow fill */
  color: #000000; /* Black text color */
  border: 2px solid #000000; /* Dark black border */
  border-radius: 10px; /* Adjust the border-radius for roundness */
  padding: 10px;
  font-size: 15px;
  font-family: "Comic Sans MS", cursive;
  cursor: pointer;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
}

.disconnectPopup button:hover {
  transform: scale(1.1); /* Grow by 10% on hover */
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8); /* Shadow with helix of colors */
  background-color: #ffd700; /* Darker yellow on hover */
}

.walletDot {
  width: 10px;
  height: 1px;
  background-color: #4caf50; /* Green dot color */
  border-radius: 50%;
  margin-right: 5px;
}

/* dashboard balance */

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.balance-box {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  /* z-index: 1000; */
  background-color: rgba(0, 0, 0, 0.8); /* Grey background with 0.8 opacity */
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 20vh; /* the difference in height at the bottom of the formatted balance 25 % of the screen */
  padding-inline: 30px; /* left and right */
  /* margin-bottom: 20px; */
  text-align: center;
  /* transform: translateX(-50%); Center horizontally */
  font-family: "Comic San MS", cursive;
}

.balance-title {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 15vh; /* difference in height between "WeToken Balance" and "formattedBalance" be half of the screen*/
}

.balance-value {
  font-size: 30px;
  color: #ffffff;
}

/* Select Weather */

.weather-box {
  /* position: fixed; */
  /* z-index: 1000; */
  background-color: rgba(0, 0, 0, 0.8); /* Grey background with 0.8 opacity */
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 15vh; /* the difference in height at the bottom of the formatted balance 15 % of the screen */
  padding-inline: 30px; /* left and right */
  /* margin-bottom: 20px; */
  text-align: center;
  font-family: "Comic San MS", cursive;
  margin-inline: 20px;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
  cursor: pointer;
}

.weather-box-selected {
  top: 50%;
  left: 50%;
  /* position: fixed; */
  /* z-index: 1000; */
  background-color: rgba(0, 0, 0, 0.8); /* Grey background with 0.8 opacity */
  background-color: #ffdb58;
  border: 2px solid #ffffff;
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 15vh; /* the difference in height at the bottom of the formatted balance 15 % of the screen */
  padding-inline: 30px; /* left and right */
  /* margin-bottom: 20px; */
  text-align: center;
  font-family: "Comic San MS", cursive;
  margin-inline: 20px;
  transition: all 0.3s ease; /* Add smooth transition for hover effect */
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8);
}

.weather-box:hover {
  transform: scale(1.1); /* Grow by 10% on hover */
  box-shadow: 0 0 10px rgba(255, 223, 88, 0.8); /* Shadow with helix of colors */
  /* background-color: #ffd700; Darker yellow on hover */
}

.weather-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute; /*position: absolute along with top: 50% and left: 50% to position the container at the center of its containing element. */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);/*The transform: translate(-50%, -50%) ensures that the center of the container aligns with the center of the viewport.*/
}

.weather-title {
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 10vh; /* difference in height between "WeToken Balance" and "formattedBalance" be half of the screen*/
}

.weather-image {
  width: 200px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  /* transition: transform 0.3s ease-in-out; */
}

/* Rotate */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.rotate {
  animation: rotate 10s linear infinite;
  height: 70vh; /* Set the height to 80% of the viewport height */
  width: auto;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
